<div class="box">
  <div class="box-form">
    <!-- booking-form.component.html -->
    <div class="btn">
        <!-- <button class="btn btn-primary " routerLink="/booking-list">View Bookings</button> -->
    </div>
    &nbsp;
    <form (ngSubmit)="saveBooking()">
        <table>
            <tr>
                <td><label for="bookingId">Booking ID:</label></td>
                <td><input type="text" class="form-control" id="bookingId" name="bookingId" [(ngModel)]="booking.bookingId" required></td>
            </tr>
            <tr>
                <td><label for="guestId">Guest</label></td>
                <td>
                    <select id="guestId" name="guestId" class="form-control" [(ngModel)]="booking.guestId" required>
                        <option value="" disabled selected>Select Guest</option>
                        <option *ngFor="let guest of guests" [value]="guest.guestId">{{ guest.guestId }} ({{ guest.name}})</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="hotelId">Hotel</label></td>
                <td>
                    <select id="hotelId" class="form-control" name="hotelId" [(ngModel)]="booking.hotelId" required>
                        <option value="" disabled selected>Select Hotel</option>
                        <option *ngFor="let hotel of hotels" [value]="hotel.hotelId">{{ hotel.hotelId }}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="numberOfGuest">Number Of Guest:</label></td>
                <td><input type="number" class="form-control" id="numberOfGuest" name="numberOfGuest" [(ngModel)]="booking.numberOfGuest" required></td>
            </tr>
            <tr>
                <td><label for="checkIn">Check-in Date:</label></td>
                <td><input type="date" class="form-control" id="checkIn" name="checkIn" [(ngModel)]="booking.checkIn" required></td>
            </tr>
            <tr>
                <td><label for="checkOut">Check-out Date:</label></td>
                <td><input type="date" class="form-control" id="checkOut" name="checkOut" [(ngModel)]="booking.checkOut" required></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary">Book</button>
                </td>
            </tr>
        </table>
    </form>
</div>


<div class="list-box">

  
<div class="btn">
  <!-- <button class="btn btn-primary " routerLink="/booking">New Booking</button> -->
</div>
<div>
  <table class="table">
      <thead>
          <tr>
              <th>Booking Id</th>
              <th>Hotel Name</th>
              <th>Guest Name</th>
              <th>Number Of Guest</th>
              <th>Check In Date</th>
              <th>Check Out Date</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <ng-container *ngFor="let booking of bookingLists">
              <tr *ngIf="!booking.isEditing; else editRow">
                  <td>{{ booking.bookingId }}</td>
                  <td>{{ booking.hotelName }}</td>
                  <td>{{ booking.guestName }}</td>
                  <td>{{ booking.numberOfGuest }}</td>
                  <td>{{ booking.checkIn | date }}</td>
                  <td>{{ booking.checkOut | date }}</td>
                  <td>
                      <!-- <button (click)="toggleEdit(booking)" class="btn btn-primary btn-sm"><i class="fa-light fa-pen-to-square"></i></button> -->
                      <i class="fa-solid fa-pen-to-square" (click)="toggleEdit(booking)" ></i>
                      &nbsp;
                      <!-- <button (click)="deleteBooking(booking.bookingId)" class="btn btn-primary btn-sm"><i class="fa-solid fa-trash"></i></button> -->
                      <i class="fa-solid fa-trash delete-icon" (click)="deleteBooking(booking.bookingId)"></i>
                    </td>
              </tr>
              <ng-template #editRow>
                  <tr>
                      <td><input type="text" [(ngModel)]="booking.bookingId" disabled ></td>
                      <td><input type="text" [(ngModel)]="booking.hotelId" disabled></td>
                      <td><input type="text" [(ngModel)]="booking.guestId" disabled></td>
                      <td><input type="text" [(ngModel)]="booking.numberOfGuest"></td>
                      <td><input type="date" [(ngModel)]="booking.checkIn"></td>
                      <td><input type="date" [(ngModel)]="booking.checkOut"></td>
                      <td>
                          <button (click)="updateBooking(booking)" class="btn btn-primary btn-sm">Save</button>
                          &nbsp;
                          <button (click)="cancelEdit(booking)" class="btn btn-primary btn-sm">Cancel</button>
                      </td>
                  </tr>
              </ng-template>
          </ng-container>
      </tbody>
  </table>
</div>

</div>

</div>